<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>

<h1>{{ title }}</h1>

<form method="POST" action="/submit" enctype="multipart/form-data">
  <label for="sensor">Sensor:</label>
  <select name="sensor" id="sensor">
    {% for sensor in sensors %}
       <option value="{{sensor[0]}}" {% if sensor[0] == selected_sensor %} selected {% endif %}>{{sensor[1]}}</option>
    {% endfor %}
  </select>
    <label for="ndays">Number of days:</label>
    <input type="number" id="ndays" name="ndays" min="1" max="1825" value="{{ndays}}" size=3>
    <input type="submit" value="Submit">
  </form>

<!-- This calls an image from a URL that actively computes the graph live! -->
<img src="/simple.png" alt="Dynamic Image"/>

</body>
</html>