<!--
** Author: Carsten Arnholm, January 2022
** This code was written for my weather station project
**
** This code follows the sqlite3 license model, i.e.:
** The author disclaims copyright to this source code.  In place of
** a legal notice, here is a blessing:
**
**    May you do good and not evil.
**    May you find forgiveness for yourself and forgive others.
**    May you share freely, never taking more than you give.
-->

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">  </script>
    <script type = "text/javascript">
       google.charts.load('current', {packages: ['corechart','line']});
    </script>
</head>
<body >

<h1>{{ title }}</h1>

<form method="POST" action="/submit" enctype="multipart/form-data">
   <label for="sensor">Sensor:</label>
   <select name="sensor" id="sensor">
     {{#sensor_list}}
        <option value="{{name}}" {{#selected}} selected {{/selected}}>{{desc}}</option>
     {{/sensor_list}}
   </select>
   <label for="ndays">Number of days:</label>
   <input type="number" id="ndays" name="ndays" min="1" max="1825" value="{{ndays}}" size=3>
   <input type="submit" value="Submit">
</form>

<div id = "container" style = "height: 400px; margin: 0 auto">
</div>

<script language = "JavaScript">

   function drawBasic()
   {
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'time');
      data.addColumn('number', 'value');

      // unpack time and value directly into a JS 2d Array
      // This seems to be faster than many .addRow() calls
      var xy = [];
      {{#chart_list}}
      xy.push([ new Date({{time}}*1000), {{value}} ]);
      {{/chart_list}}

      data.addRows(xy);

      var options = {
        hAxis: {
          title: 'Time',
          format: 'yyyy-MM-dd HH:mm'
        },
        legend: {
           position: 'none'
        },
        title: '{{yaxis}}'
      };

      var chart = new google.visualization.LineChart(document.getElementById('container'));
      chart.draw(data, options);
   }
   google.charts.setOnLoadCallback(drawBasic);
</script>
</html>
